body {
    background: rgb(41, 247, 255);
    background: linear-gradient(221deg, rgba(41, 247, 255, 1) 0%, rgba(81, 0, 255, 1) 50%, rgba(58, 0, 184, 1) 100%);
    text-align: center;
    margin: 0;
    height: 100vh;
}

card {
    z-index: -100;
    text-align: left;
    background: white;
    border-radius: 0 40px 40px 0;
    padding: 40px;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding-left: 70px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.41);
}

v_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 250px;
}

.photo {
    height: 300px;
    position: relative;
    border-radius: 90%;
    z-index: 0;
}

#placeholder {
     transition: all 0.5s; 
    z-index: 100;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.41);
}

.photo_holder {
    position: relative;
    width: 0;
    height: 0;
    left: -310px;
    top: -100px;
}